@import '../../../sass/colors.scss';

.page-header {
	height: 75px;
}

.page-content {
	height: 485px;
}

#progress-bar {
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
}

.page-header {
	width: 100%;
	// height: 100px;
	font-size: 28px;
	font-weight: bold;
}

#audioPool {
	width: 920px;
	height: 90px;
	border-radius: 10px;
	background-color: rgb(217, 219, 222);
	animation-duration: 0.5s;
}

.audio-poll-item {
	margin: 0 8px;
}

#scenes-container {
	height: 360px;
	margin-top: 20px;
}

.scene-image {
	width: calc(100% - 7px);
	height: calc(100% - 49px - 8px);
	position: relative;
	top: calc(-100% + 49px + 4px);
  border-radius: 0px 0px 4px 4px;
  margin: auto;
	display: block;
}

.scene-audio-container {
	height: 344px;
}

.audio-drop-zone {
	width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border: 5px solid #5b9bd5;
  border-radius: 10px;
  background-color: #d9dbde;
  --after-opacity: 0;
}

.audio-drop-zone::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0px 4px 18px 5px #888888;
  opacity: var(--after-opacity);
  transition: opacity 0.5s;
}

.audio-dropped {
	position: relative;
  left: 0;
  z-index: 998; // z-index: 999 is for dragging button, 1000 is for snackbar overlay
	background-color: $primary-color-light;
	transition: left 0.5s;
}

img.grayscale {
	filter: grayscale(100%);
}

button:hover img.grayscale {
	filter: grayscale(0%);
}

.selected-border {
	outline: 5px solid green;
	outline-offset: -6px;
}

#test-counter {
  width: 100%;
  height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	color: rgb(46, 117, 182); 
}

.link-like {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.cdk-drag-preview {
  pointer-events: none;
	margin: 0px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 
	0 5px 5px -3px rgba(0, 0, 0, 0.2),
	0 8px 10px 1px rgba(0, 0, 0, 0.14),
	0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 999 !important;
}

.cdk-drag-placeholder {
	margin: 0px;
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.audio-poll-item:last-child {
	border: none;
}

#audioPool.cdk-drop-list-dragging .audio-poll-item:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#moveit {
	position: relative;
    left: 0px;
    background-color: brown;
    text-align: center;
    color: aliceblue;
	line-height: 3;
	transform: none !important;
    transition: left, 100s;
}

.audio-drop-zone {
	.cdk-drag-placeholder {
		height: 0px;
		position: relative;
		transform: none !important;
		pointer-events: none;
	}
}

.scene-audio-container {
	.cdk-drag-placeholder {
		height: 0px;
		transform: none !important;
		pointer-events: none;
	}	
}

#audioPool {
	.cdk-drag-placeholder {
		width: 287px;
		pointer-events: none;
	}
}

.no-transform {
	transform: none !important;
	pointer-events: none;
	transition: all 0.5s;
}

.no-mouse-transition {
	pointer-events: none;
	transition: all 0.5s;
}

@keyframes refresh-pool {
	0%   {background-color: rgb(217, 219, 222); opacity: 1;}
	50%  {background-color: white; opacity: 0;}
	100% {background-color: rgb(217, 219, 222); opacity: 1;}
}

img {
	pointer-events: none;
}
