<mat-progress-bar id="progress-bar" [value]="(currentTestIndex + 1) * (100 / testCount)"></mat-progress-bar>
<div id="test-counter">Task {{ currentTestIndex + 1 }} out of {{ testCount }}</div>

<header class="page-header">
  <span *ngIf="currentTestIndex === -1; else regularHeader">
    OK, let’s start. Click Play button or press spacebar to hear the music clip. Then indicate the scene which fits best
    what you hear and press the Next button.
  </span>
  <ng-template #regularHeader>
    Match audio buttons with acoustic scenes by dragging them from the grey container and dropping on the acoustic scenes images.
  </ng-template>
</header>
<section class="page-content" cdkDropListGroup>
  <!-- DROPZONE AUDIO POOL -->
  <div id="audioPool" cdkDropList [cdkDropListData]="audioPool[currentTestIndex]" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" fxLayout="row" fxLayoutAlign="center center">
    <div class="audio-poll-item" *ngFor="let audio of audioPool[currentTestIndex]" cdkDrag [cdkDragData]="audio" (cdkDragStarted)="onDragStart($event)" (cdkDragReleased)="onDragReleased($event)">
      <app-play-audio-button #audioButtons [text]="audio.text" [audioId]="audio.id" (onInit)="onAudioButtonInit($event)" (onClick)="onAudioButtonClick($event)"></app-play-audio-button>
    </div>
  </div>
  <div id="scenes-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="32%" class="scene-audio-container">
      <!-- DROPZONE FB -->
      <div id="fbDropZone" class="audio-drop-zone" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="fbDropZone[currentTestIndex]" (cdkDropListDropped)="drop($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
        <div class="audio-dropped" *ngFor="let audio of fbDropZone[currentTestIndex]" cdkDrag [cdkDragData]="audio" (cdkDragStarted)="onDragStart($event)" (cdkDragReleased)="onDragReleased($event)">
          <app-play-audio-button #audioButtons [text]="audio.text" [audioId]="audio.id" (onInit)="onAudioButtonInit($event)" (onClick)="onAudioButtonClick($event)"></app-play-audio-button>
        </div>
      </div>
      <img class="scene-image" src="../../../assets/acoustic scenes/front scene.png">
    </div>
    <div fxFlex="32%" class="scene-audio-container">
      <!-- DROPZONE BF -->
      <div id="bfDropZone" class="audio-drop-zone" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="bfDropZone[currentTestIndex]" (cdkDropListDropped)="drop($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
        <div class="audio-dropped" *ngFor="let audio of bfDropZone[currentTestIndex]" cdkDrag [cdkDragData]="audio" (cdkDragStarted)="onDragStart($event)" (cdkDragReleased)="onDragReleased($event)">
          <app-play-audio-button #audioButtons [text]="audio.text" [audioId]="audio.id" (onInit)="onAudioButtonInit($event)" (onClick)="onAudioButtonClick($event)"></app-play-audio-button>
        </div>
      </div>
      <img class="scene-image" src="../../../assets/acoustic scenes/back scene.png">
    </div>
    <div fxFlex="32%" class="scene-audio-container">
      <!-- DROPZONE FF -->
      <div id="ffDropZone" class="audio-drop-zone" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="ffDropZone[currentTestIndex]" (cdkDropListDropped)="drop($event)" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
        <div class="audio-dropped" *ngFor="let audio of ffDropZone[currentTestIndex]" cdkDrag [cdkDragData]="audio" (cdkDragStarted)="onDragStart($event)" (cdkDragReleased)="onDragReleased($event)">
          <app-play-audio-button #audioButtons [text]="audio.text" [audioId]="audio.id" (onInit)="onAudioButtonInit($event)" (onClick)="onAudioButtonClick($event)"></app-play-audio-button>
        </div>
      </div>
      <img class="scene-image" src="../../../assets/acoustic scenes/all around.png">
    </div>
  </div>
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/finish"
      [condition]="data.pollDataInitiated ? finishTestCondition : false"
      (failure)="goToNextTask()" (success)="onFinishTest()">
  </app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/headphones-test"
      [condition]="data.pollDataInitiated ? leaveTestCondition : false"
      (failure)="goToPastTask()" (success)="onLeaveTest()">
  </app-navigation-button>
  <div id="help-note">
    If you encounter problems with the audio playback, check audio setting on your device.
    <span class="link-like" (click)="onFurtherHelpClick()">Further help</span>
  </div>
</nav>

<ngx-spinner [fullScreen]="false" type="ball-spin-clockwise" size="medium">
  <span #spinnerText class="spinner-text"></span>
</ngx-spinner>
