// @import '../../../styles.scss';

#progress-bar {
	width: 100%;
	height: 10px;
	position: absolute;
	left: 0;
	top: 0;
}

.page-header {
	width: 100%;
	height: 100px;
	font-size: 28px;
	font-weight: bold;
}

#scene-select-container {
	height: 280px;
	margin-top: 10px;
}

#front {}
#back {}
#front-back {}

.scene-select-button {
	width: 100%;
	height: 303px;
	// background-color: gray;
	img {
		width: 100%;
	}
}

.scene-select-button:hover {
	// background-color: green !important;	
}

.test {
	height: 50px;
}

img.grayscale {
	filter: grayscale(100%);
  // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  // filter: gray; /* IE6-9 */
	// -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

button:hover img.grayscale {
	filter: grayscale(0%);
  // filter: none;
	// -webkit-filter: grayscale(0%);
	// transform: scale(1.1);
	// @include grayscale(0%);
	// -webkit-filter: grayscale(0%);
  // -moz-filter: grayscale(0%);
  // -ms-filter: grayscale(0%);
  // -o-filter: grayscale(0%);
	// filter: grayscale(0%) !important;
	// filter:grayscale(0%); 
  // -webkit-filter: grayscale(0%);
  // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	// border: 2px dashed green;
}

.selected-border {
	outline: 5px solid green;
	outline-offset: -6px;
}

#test-counter {
	padding-top: 30px;
	text-align: right;
	font-weight: bold;
	color: rgb(46, 117, 182);
}

#help-note {
	width: 394px;
	padding-right: 10px;
}

#audio-toggle-button-container {
	padding-top: 30px;
	padding-bottom: 20px;
}

.link-like {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}