<header class="page-header">
  Terms and Privacy Policy
</header>
<section class="page-content">
  The test was prepared according to the best academic practice. It is the responsibility of the participants to control the playback loudness at safe and comfortable level. We are not liable for any hearing losses or damage sustained as a result of the test.
  <p>
    We collect information including participants' IP adresses and the names of their operating systems. This information is used to detect false responses.
  </p>
  <p>
    All the data gathered throughout the test will be processed anonymously. It is collected solely for academic research purposes and will not be passed to any third party.
  </p>
</section>
<nav class="page-navigation">
  <div class="navigation-note"></div>
  <div class="navigation-buttons-container">
    <app-navigation-button text="Back" destinationUrl="/"></app-navigation-button>
  </div>
</nav>
