<header class="page-header">
  How to do the test – Demo
</header>
<section class="page-content smaller-font">
  <video width="100%" height="325px" autoplay loop>
    <source src="../../../assets/poll-example-movie.webm" type="video/webm">
    <source src="../../../assets/poll-example-movie.mov" type="video/mp4">
  </video>
  <ul id="instructions-list">
    <li>Listen to the recording by clicking on its audio button</li>
    <li>Decide its acoustic scene</li>
    <li>Click and hold the recording's audio button to drag it around</li>
    <li>Drop the button on one of grey fields, above the accoustic scene you selected</li>
  </ul>
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/additional-information"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/acoustic-scenes"></app-navigation-button>
</nav>
