<header class="page-header">
  Acoustic scenes
</header>
<section class="page-content">
  There are three possible options of an acoustic scene recognized in the test.
  <div id="acoustic-scenes-description-container" fxLayout="column">
    <div fxFlex="33%" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="20%">
        <img src="../../../assets/acoustic-scenes/front-scene.png">
      </div>
      <div fxFlex="66%" fxLayoutAlign="left center">
        <li>Front scene where an ensemble of musicians is located in <b>front</b> of a listener</li>
      </div>
    </div>
    <div fxFlex="33%" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="20%">
        <img src="../../../assets/acoustic-scenes/back-scene.png">
      </div>
      <div fxFlex="66%" fxLayoutAlign="left center">
        <li>Back scene where an ensemble of musicians is located at the <b>back</b> of a listener</li>
      </div>
    </div>
    <div fxFlex="33%" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="20%">
        <img src="../../../assets/acoustic-scenes/all-around.png">
      </div>
      <div fxFlex="66%" fxLayoutAlign="left center">
        <li>All-around scene with an ensemble being both <b>in front and at the back</b> of a listener</li>
      </div>
    </div>
  </div>
</section>
<nav class="page-navigation">
  <div class="navigation-note"></div>
  <div class="navigation-buttons-container">
    <app-navigation-button text="Previous" destinationUrl="/poll-description"></app-navigation-button>
    <app-navigation-button text="Next" destinationUrl="/poll-example"></app-navigation-button>
  </div>
</nav>
