<header class="page-header">
  Front ensemble
</header>
<section class="page-content">
  <img class="terms-image" src="../../../assets/acoustic scenes/front scene.png">
  As you can see in the picture on the right, an ensemble of musicians is located in front of a listener.
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/terms-back-scene"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/poll-description"></app-navigation-button>
</nav>
