<div style="overflow-x: hidden;" class="font-font">
  <p><b>Make sure to check the folowing issues</b></p><a href=""></a>
  <mat-list>
    <mat-list-item>1. Check headphones cable connections</mat-list-item>
    <mat-list-item>2. Check whether your headphones are muted</mat-list-item>
    <mat-list-item>3. Try to increase the volume level</mat-list-item>
    <mat-list-item>4. See if your browser mutes sounds</mat-list-item>
    <mat-list-item>5. In case of wireless headphones, check the battery level</mat-list-item>
    <mat-list-item>6. Find another headphones and test them</mat-list-item>
    <mat-list-item>7. Check if the problem occurs just on this webside</mat-list-item>
    <mat-list-item>8. Try to use different browser</mat-list-item>
    <mat-list-item>9. Unplug and plug your headphones</mat-list-item>
    <mat-list-item>10. Check if the headphones are set as the default system audio output</mat-list-item>
  </mat-list>
  <p>In case of the hints above don't help you, fell free to <a class="link-like" (click)="onReportProblemClick()">report us the problem</a></p>
  <button mat-button class="navigation-button" style="margin-bottom: 20px;" (click)="onBackButtonClick()">Back</button>
</div>
