::ng-deep .mat-list-item-content {
	padding: 0px !important;
}

.link-like {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.font-font {
	font-family: Arial, Helvetica, sans-serif;
}
