<header class="page-header">
  Front and back ensemble
</header>
<section class="page-content">
  <img class="terms-image" src="../../../assets/acoustic scenes/all around.png">
  The last possible situation is an ensemble being both in front and at the back of a listener.
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/headphones-test"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/terms-back-scene"></app-navigation-button>
</nav>
  