<header class="page-header">
  What will happen during the test?
</header>
<section class="page-content">
  In our test you will listen to thirty short audio recordings, each of them providing one of three possible options of an acoustic scene. The options are illustrated below.
  <div id="acoustic-scenes-container" fxLayout="row">
    <div fxFlex="33%"><img class="acoustic-scene-img" src="../../../assets/acoustic scenes/front scene.png"></div>
    <div fxFlex="33%"><img class="acoustic-scene-img" src="../../../assets/acoustic scenes/back scene.png"></div>
    <div fxFlex="33%"><img class="acoustic-scene-img" src="../../../assets/acoustic scenes/all around.png"></div>
  </div>
  Your task is to select the option regarding what you hear in your headphones.
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/terms-front-scene"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/questionnaire"></app-navigation-button>
</nav>
