<header class="page-header">
    What will happen during the test?
</header>
<section class="page-content">
    In out test you will go through 10 similar matching tasks.
    <br><br>
    During each task you will be presented with an audio recording in three variations - thus three audio recordings to listen to during each task.
    <br><br>
    Those variations differ in acoustic scene they represent (described on the next page).
    <br><br>
    Your objective is to listen to the audio recordings variations and match them with the acoustic scenes you think they represent (an example of matching process is shown further in the test).
</section>
<nav class="page-navigation">
    <app-navigation-button text="Next" destinationUrl="/terms-acoustic-scenes"></app-navigation-button>
    <app-navigation-button text="Previous" destinationUrl="/questionnaire"></app-navigation-button>
</nav>

<!-- 
    In our test you will listen to thirty short audio recordings, each of them providing one of three possible
    options of an acoustic scene. The options are illustrated below.

    <div id="acoustic-scenes-container" fxLayout="row">
        <div fxFlex="33%"><img class="acoustic-scene-img" src="../../../assets/acoustic scenes/front scene.png"></div>
        <div fxFlex="33%"><img class="acoustic-scene-img" src="../../../assets/acoustic scenes/back scene.png"></div>
        <div fxFlex="33%"><img class="acoustic-scene-img" src="../../../assets/acoustic scenes/all around.png"></div>
    </div>
    Your task is to select the option regarding what you hear in your headphones.
-->
