p {
	margin-bottom: 0;
	margin-top: 1.5em;
}

.page-header {
	line-height: 2.5;
}

.page-content {
	position: relative;
}

.page-navigation {
	align-items: center;
	justify-content: space-between;
}

#headset {
	width: 100px;
	height: 100px;
	float: right;
	font-size: 100px;
	color: gray;
}

#checkbox-container {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 45px;
}

#section-nav-divider {
	width: 100%;
	position: absolute;
	bottom: 0;
	color: gray;
}

#navigation-info {
	font-size: 23px;
}

#version-box {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 5px;
	color: gray;
}

.smaller-font {
	font-size: 23px;
}

::ng-deep .mat-checkbox-inner-container-no-side-margin {
	transform: scale(1.8) translate(6px, 4px) !important;
}
