.page-header {
	height: 60px;
}

.page-content {
	height: 500px;
}

#acoustic-scenes-description-container {
	height: 460px;
	margin: 10px 0px 0px 10px;
	img {
		width: 151px;
		height: 151px;
		transition: all 0.6s;
		position: relative;
	}
	img:hover {
		z-index: 999;
		transform: scale(2);
	}
	li {
		margin-right: 35px;
		text-align: left;
	}
}

.mat-raised-button ~ .mat-raised-button {
	margin-right: 16px;
}
