<header class="page-header">
    Terms - Foreground and Background sounds
</header>
<section class="page-content">
  <b>Foreground sounds</b> represent easily identifiable, important and clearly perceived audio sources.
  <br>
  <br>
  <b>Background sounds</b> normally represent reverberant, unimportant, unclear, ambient, “foggy” and distant sound sources.
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/terms-front-scene"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/poll-description"></app-navigation-button>
</nav>
