<header class="page-header">
  Additional information
</header>
<section class="page-content smaller-font">
  <ul id="instructions-list">
    <li>In case you change your mind, you can swap audio buttons or place them in the initial grey box</li>
    <li>There is no time limit to make a choice</li>
    <li>You've got 3 hours to complete the test (far more than needed). The countdown started when you visited questionnaire page</li>
  </ul>
</section>
<nav class="page-navigation">
  <div class="navigation-note"></div>
  <div class="navigation-buttons-container">
    <app-navigation-button text="Previous" destinationUrl="/poll-example"></app-navigation-button>
    <app-navigation-button text="Next" destinationUrl="/headphones-test"></app-navigation-button>
  </div>
</nav>
