<header class="page-header">
  Additional information
</header>
<section class="page-content smaller-font">
  <ul id="instructions-list">
    <li>When you change the currently playing recording the new one starts playing at the point the previous one stopped</li>
    <li>In case you change your mind, you can swap elements or place them in the initial gray box</li>
    <li>There is no audio replay limit</li>
    <li>There is no time limit to make a choice</li>
  </ul>
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/headphones-test"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/poll-example"></app-navigation-button>
</nav>
