<header class="page-header">
  Back ensemble
</header>
<section class="page-content">
  <img class="terms-image" src="../../../assets/acoustic scenes/back scene.png">
  In another scenario an ensemble of musicians is located at the back of a listener.
</section>
<nav class="page-navigation">
  <app-navigation-button text="Next" destinationUrl="/terms-all-around-scene"></app-navigation-button>
  <app-navigation-button text="Previous" destinationUrl="/terms-front-scene"></app-navigation-button>
</nav>
  