#headset-channels-container {
	height: 290px;
}

.channel-container {
	padding-top: 15px;
}

#headset-image {
	width: 300px;
	height: 100%;
	font-size: 306px;
	color: gray;
}

#help-note {
	width: 394px;
	padding-right: 10px;
}

.link-like {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}
